.idea
nginx/access
nginx/err

upload/config.php
upload/admin/config.php


!index.html

download/
storage/

upload/image/data/
upload/image/cache/
upload/system/cache/
upload/system/logs/
upload/system/storage/
